@font-face {
    font-family: 'Gordita';
    src: url('Gordita-Light.woff2') format('woff2'),
        url('Gordita-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('Gordita-Medium.woff2') format('woff2'),
        url('Gordita-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

