$icomoon-font-family: "redy" !default;
$icomoon-font-path: "fonts" !default;

$icon-playstore: "\e903";
$icon-apple: "\e900";
$icon-facebook: "\e901";
$icon-instagram: "\e902";
$icon-twitter: "\e904";
$icon-arrow: "\e905";

